/* @import url(https://fonts.googleapis.com/css?family=Press+Start+2P); */

.App {
  font-family: "Press Start 2P", cursive;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
}

/* HOME */

.home-container {
  margin: 10px;
}
.m-box {
  width: 20rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-details-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.m-all-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.coreteam-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Create NFT */

.create-nft-container {
  margin: 10px;
}

.create-nft-box {
  display: grid;
  grid-template-columns: 40% 60%;
  flex-direction: column;
  align-items: center;
}

.create-nft-image {
}

.my-nft-container-left {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  text-align: start;
  margin: 10%;
}

.create-nft-attributes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.create-nft-attributes-traits {
  text-decoration: underline wavy blue;
}

.create-nft-attributes-value {
  color: rgb(236, 76, 98);
}

/* My NFTs */

.my-nfts-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-nfts-list {
  /* padding: 10px; */
}
